<html>
<head>
	<link rel="stylesheet" href="application.css" type="text/css" />

	<script src="js/vendor/custom.modernizr.js"></script>

</head>

<body>
	
		
	<div class="row">
		<div class="large-12 columns">
			<h1 class="center">Welcome to #HashFight</h1>  
			<h2 class="center">Choose your Hashes</h2>
			
			<form action="/twitter" method="post">
				 <div class ="large-6 columns">
		        <label class="center" for="hash1">Hash A</label>
		        <input type="text" name="hash1" id="hash1" />
		    </div>
		    <div class ="large-6 columns">
		        <label class="center" for="hash2">Hash B</label>
		        <input type="text" name="hash2" id="hash2" />
		    </div>
		 		<div class="center">
		    	<button type="submit" class="small_button">HashFight</button>
		    </div>
			</form>	
		</div>
	</div>
</body>
</html>