@import url(css/foundation.css);
@import url(http://fonts.googleapis.com/css?family=Limelight|Stalinist+One);

.center {
	margin: 0 auto; 
	text-align:center;
}

body {
	background-color: #edbdcf;
}

form {
	padding:10px;
	margin-top:20px;
}

h1

h1 {
	font-family: 'Stalinist One', cursive;
	color:#eeeeee;
}

h2 {	

	font-family: 'Limelight', cursive;
	color: rgb(218, 62, 117);
}
a.button {
	margin-top: 10%;
}